[submodule "lib/hdfqs"]
	path = lib/hdfqs
	url = /var/lib/git/hdfqs.git
[submodule "lib/olr_importer"]
	path = lib/olr_importer
	url = /var/lib/git/olr_importer.git
[submodule "lib/olr_importer_nonin"]
	path = lib/olr_importer_nonin
	url = /var/lib/git/olr_importer_nonin.git
[submodule "lib/olr_importer_nonin_ppg"]
	path = lib/olr_importer_nonin_ppg
	url = /var/lib/git/olr_importer_nonin_ppg.git
